absl-py==2.1.0
astor==0.8.1
Box2D==2.3.10
cached-property==1.5.2
cloudpickle==1.6.0
future==1.0.0
gast==0.6.0
grpcio==1.62.3
gym==0.26.2
gym-notices==0.0.8
h5py==3.8.0
importlib-metadata==6.7.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Mako==1.2.4
Markdown==3.4.4
MarkupSafe==2.1.5
mock==5.1.0
mpi4py==4.0.0
numpy==1.21.6
opencv-python==4.10.0.84
path==16.6.0
protobuf==3.20.0
pygame==2.6.0
pyglet==1.5.0
scipy==1.7.3
six==1.16.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==2.3.0
Theano==1.0.5
typing_extensions==4.7.1
Werkzeug==2.2.3
zipp==3.15.0